{% extends "core/base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="px-4 py-7 rounded-xl">
  <div class="lg:pb-32 xl:px-40">
    <div class="md:items-center lg:flex lg:flex-row w-full sm:mb-5">
      <h1
        class="lg:flex lg:flex-col text-center lg:text-start justify-start text-5xl lg:text-4xl font-semibold font-sans w-full mb-7 lg:mb-2"
      >
        Last Added -
      </h1>
      <!--Last Added, Search, Add Product-->
      <div
        class="flex flex-row items-center justify-center lg:justify-end space-x-4 w-full"
      >
        <a href="{% url 'part:search' %}" class="text-gray-500">
          <div
            class="flex flex-row flex-wrap lg:flex-col justify-center items-center text-[#b91c1c] border border-[#b91c1c] rounded-lg w-40 h-10"
          >
            <div class="w-10">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                />
              </svg>
            </div>
            <div class="pl-2 pr-8 w-30 text-gray-500">Search</div>
          </div>
        </a>
        <div class="lg:flex-col">
          <a
            href="{% url 'part:new_part' %}"
            class="flex justify-center items-center text-white bg-[#b91c1c] rounded-lg w-40 h-10 hover:bg-red-800"
          >
            Add More
          </a>
        </div>
      </div>
    </div>
    <div class="flex-auto lg:flex-row p-20">
      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 lg:gap-3 xl:grid-cols-4 gap-4 lg:w-full"
      >
        <!--Part Card-->
        {% for part in parts %}
        <div class="bg-none rounded-xl w-15 h-30 text-center sm:mb-6">
          <a href="{% url 'part:part_details' part.id %}">
            <div
              class="flex justify-center items-center lg:h-44 overflow-hidden rounded-t-xl"
            >
              <img
                src="{{ part.image.url }}"
                class="rounded-t-xl w-64 h-64 lg:w-40 lg:h-40"
                alt="{{ part.title }}"
              />
            </div>
            <div class="bg-none lg:px-6 rounded-b-xl">
              <div class="min-h-32">
                <h2 class="text-2xl mb-2 text-gray-900">{{ part.title }}</h2>
                {% if part.brand %}
                <p class="text-gray-900">
                  <strong>Brand: </strong>{{ part.brand }}
                </p>
                {% elif part.model %}
                <p class="text-gray-900">
                  <strong>Model: </strong>{{ part.model }}
                </p>
                {% endif %} {% if part.year %}
                <p class="text-gray-900">
                  <strong>Year: </strong>{{ part.year }}
                </p>
                {% endif %}
              </div>
              <div
                class="flex justify-center items-center text-slate-200 bg-[#b91c1c] rounded-lg w-full p-2 mx-auto"
              >
                <div class="flex-row">Available: {{ part.quantity }}</div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
